body{
    padding: 10px;
}
h1{
    text-align: center;
}
#dropbox{
    width: 30vh;
}
form{
    display: flex;
    padding: 20px;

}
label{
    padding: 8px;
}
#main-container,#output-container{
    border-radius: 10px;
    border: 2px solid black;
}
li{
    list-style-type: none;
}